@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(216, 12%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: overpass, sans-serif;
    padding: 1rem;
    min-height: 100vh;
    margin: 0.75rem;
    
}
.thanks-card{
    border-radius: 20px;
    background-color: hsl(214, 22%, 13%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1.25rem;
    gap:1rem;
    max-width: 370px;
}
.card-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(0, 100%, 100%);
}
.ratings-comment{
    background-color: hsl(213, 19%, 18%);
    color:  hsl(25, 97%, 53%);
    font-size: 1.25rem;
    margin: 1.25rem;
    padding: 0.75rem;
    border-radius: 1rem;
}

.thank-you-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:hsl(217, 12%, 63%);
    text-align: center;
}
